.inline {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.layout-content {
	padding: 6px 0 6px 3px;
	min-height: 16rem;
	overflow: hidden;
	position: relative;
}

.layout-wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}