$time: .4s;
$body: #fff;
$colorText: #000;

$selectcolor: #fff;
$selectBackground: #097dc5;

$placeholderColor: #000;
$placeholderOpacity: .5;

$fontBase: 10px;
$footerHeight: 100px;

$fontDefault: 'Helvetica Neue', Roboto, sans-serif;
$fontCandara: Candara, 'Helvetica Neue', Roboto, sans-serif;